<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewFileNotfier.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NewFileNotfier.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Mask" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmailNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="CCAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="BCCAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>AUTOMATED NOTIFICATION: New File Added</value>
            </setting>
            <setting name="EmailBody" serializeAs="String">
                <value>A new file was created.</value>
            </setting>
            <setting name="EmailSendFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailFromAddress" serializeAs="String">
                <value />
            </setting>
        </NewFileNotfier.Settings>
    </userSettings>
</configuration>